<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Book</title>
</head>
<body>
<h1>Пошук книг</h1>
<form action="#" th:action="@{/books/search}" th:method="post">
    <label for="name">Назва книги:</label>
    <input type="text" id="name" name="name" />
    <button type="submit">Пошук</button>
</form>
<div th:if="${bookFound}">
    <h2>Деталі книги</h2>
    <p>Title: <span th:text="${book.nameBook}"></span></p>
    <p>Year: <span th:text="${book.date}"></span></p>
    <div th:if="${bookOwner != null}">
        <h3>Деталі власника</h3>
        <p>Ім'я: <span th:text="${bookOwner.fullName}"></span></p>
    </div>
    <div th:if="${bookOwner == null}">
        <p>Книга свобідна</p>
    </div>
</div>
</body>
</html>
